@import "./reset.css";
.weather-app {
    font-family: 'Rubik', sans-serif;
    display: grid;
    width: 100vw;
    height: 100vh;
}
.container {
    padding: 10px;
    background: linear-gradient(167deg, #42D2A6 4.7%, #007991 95.98%), #389196;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    padding: 20px;
}
.form {
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 60px;
    position: relative;
}
.form-input {
    padding-left: 10px;
    max-width: 240px;
}
@media (max-width: 290px) {
    .form-input {width: 100%;}
}
.form-btn {
    position: absolute;
    content: '';
    top: 9px;
    right: 9px;
}
.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.weather-info-city {
    display: flex;
    font-weight: 500;
    font-size: 28px;
    color: #000;
}
@media (max-width: 320px) {
    .weather-info-city {
        flex-direction: column;
        align-items: center;
    }
}
.weather-info-city span {
    padding: 3px 5px;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    color: #525252;
}
.weather-info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.weather-info-temp {
    font-size: 60px;
}
.weather-info-temp span {
    font-size: 40px;
    vertical-align: text-top;
}
.weather-img {
    min-width: 120px;
}
.weather-desc {
    font-size: 20px;
}
.footer {
    padding: 7px 15px;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #fff;
}
/* @media (min-width: 500px) {
    .weather-app {}
} */
