@import "./reset.scss";
.weather-app {
    font-family: "Nunito", sans-serif;
    display: grid;
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(167deg, #42D2A6 4.7%, #007991 95.98%), #389196;
    color: #000;
}
.header {
    padding: 20px;
}
.form {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 60px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    cursor: pointer;
    &.focus {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }
}
.form-input {
    position: absolute;
    padding-left: 10px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 20px;
    background: none;
    color: #5a6674;
    border: none;
    appearance: none;
    outline: none;
}
.form-btn {
    position: absolute;
    content: '';
    top: 9px;
    right: 9px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:active {transform: translate(0px, -10px);}
}
.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-info-city {
    margin-bottom: 10px;
    display: flex;
    font-weight: 700;
    font-size: 36px;
    color: #000;
    & span {
        padding: 3px 12px;
        display: inline-block;
        font-size: 24px;
        vertical-align: middle;
        color: #525252;
    }
    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
    }
}
.weather-info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
    }
}
.weather-info-temp {
    font-size: 60px;
    font-weight: 500;
    & span {
        padding-left: 6px;
        font-size: 40px;
        vertical-align: middle;
    }
}
.weather-img {
    min-width: 120px;
}
.weather-desc {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
}
.weather-wind {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
    }
}
.weather-wind-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.weather-wind-dir {font-size: 14px;}
.weather-wind-power {
    font-size: 16px;
    text-transform: lowercase;
    // color: #333;
}
.weather-wind-speed {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
    }
}
.weather-wind-arrow {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {width: 30px;}
}
.weather-wind-kph, .weather-wind-ms {
    font-size: 36px;
    & span {
        font-size: 24px; 
        padding-left: 4px;
    }
}
.weather-wind-ms {color: #333;}
.footer {
    padding: 7px 15px;
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}
