/* astro pannel */
.astro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 5px;
    margin-top: 20px;
    @media (max-width: 320px) {
        margin: 0;
    }
}
.astro-localtime {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
    @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
.astro-row {
    display: flex;
    gap: 20px;
    @media (max-width: 500px) {
        flex-direction: column;
        gap: 10px;
    }
}
.astro-sun {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.astro-sun-img {
    width: 50px;
    object-fit: contain;
}
.astro-suntimes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    & img {
        display: inline;
        margin-right: 10px;
    }
}
.astro-times-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.astro-img {width: 30px;}
.astro-moon {
    display: flex;
    gap: 10px;
    width: 100%;
    text-align: center;
    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
.astro-moon-phase {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 14px;
    & p {
        font-size: 12px;
        color: #333;
    }
    @media (max-width: 500px) {
        margin: 0;
    }
}
.astro-p span {
    font-size: 18px;
    font-weight: 600;
}